<p id="notice"><%= notice %></p>

<h1>Listing Scene Connectors</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Button Position X</th>
      <th>Button Position Y</th>
      <th>Scene From</th>
      <th>Scene To</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scene_connectors.each do |scene_connector| %>
      <tr>
        <td><%= scene_connector.id %></td>
        <td><%= scene_connector.position_x %></td>
        <td><%= scene_connector.position_y %></td>
        <td><%= scene_connector.scene_from_id %></td>
        <td><%= scene_connector.scene_to_id %></td>
        <td><%= link_to 'Show', scene_connector %></td>
        <td><%= link_to 'Edit', edit_scene_connector_path(scene_connector) %></td>
        <td><%= link_to 'Destroy', scene_connector, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scene connector', new_scene_connector_path %>
