<!DOCTYPE html>
<html>
<head>
  <title>ObedientIsland</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="/">Home</a></li>
  <li role="presentation"><%= link_to('Scenes', scenes_path) %></li>
  <li role="presentation"><%= link_to('SceneConnectors', scene_connectors_path) %></li>
  <li role="presentation"><%= link_to('Events', events_path) %></li>
  <li role="presentation"><%= link_to('EventParts', event_parts_path) %></li>
  <li role="presentation"><%= link_to('EventAnswers', event_answers_path) %></li>
</ul>

<%= yield %>

</body>
</html>
